@-moz-document domain(twitter.com) {
  div.css-1dbjc4n.r-aqfbo4.r-zso239.r-1udh08x.r-1hycxz {
    display: none !important;
  }
  div.css-1dbjc4n.r-14lw9ot.r-1gm7m50.r-1ljd8xs.r-13l2t4g.r-1phboty.r-1jgb5lz.r-11wrixw.r-61z16t.r-1ye8kvj.r-13qz1uu.r-184en5c,
  div.css-1dbjc4n.r-yfoy6g.r-18bvks7.r-1ljd8xs.r-13l2t4g.r-1phboty.r-1jgb5lz.r-11wrixw.r-61z16t.r-1ye8kvj.r-13qz1uu.r-184en5c {
    flex: 1 !important;
    max-width: none !important;
  }
  a[href='/explore'] span {
    position: relative;
    color: transparent !important;
  }
  a[href='/explore'] span::after {
    content: 'Buscar';
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
    left: 0;
    top: 0;
    color: #fff;
  }
  a[href='/explore'] .r-13gxpu9 > span::after {
    color: #1da1f2 !important;
  }
  div.css-1dbjc4n.r-1jgb5lz.r-1ye8kvj.r-13qz1uu:last-of-type {
    max-width: none !important;
  }
  div.css-1dbjc4n.r-yfoy6g div.css-1dbjc4n.r-yfoy6g:nth-of-type(2) {
    display: none !important;
  }
  .css-1dbjc4n.r-1ila09b.r-qklmqi.r-1adg3ll.r-1ny4l3l
    > .css-1dbjc4n.r-1loqt21.r-1ny4l3l.r-o7ynqc.r-6416eg,
  .css-1dbjc4n.r-1ila09b.r-qklmqi.r-1adg3ll.r-1ny4l3l
    > .css-1dbjc4n.r-yfoy6g.r-6wcr4z {
    display: none !important;
  }
}
